# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\emman\OneDrive\Scuola\Unicam\Project\solcraft\solcraft\.idea/dataSources/
/dataSources.local.xml
